body {
	font-family: "Indie Flower", cursive ;
	font-size: 16px;
  background-color: rgb(255,255,255);
}

footer {
  margin-bottom: 10px;
  font-size: 17px;
  color: black;
  font-weight: thin;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  max-width: 20rem;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: rgb(0,0,0);
	height: 55px;
	padding: 0 10px;
}

#about {
	padding: 10px;
	padding-bottom: 20px;
}

#portfolio {
	background-color: #e0e0e0;
}
